<div data-offset-top="360" data-spy="affix" class="sidebar-nav affix ">
	    <form class="search form-inline">
	        <!-- Agregar formulario de busqueda -->
	    </form>    

	    
	    <%= render 'layouts/noticias/responsive-menu' %>
	    <%= render 'layouts/noticias/lateralmenu' %>

	    
</div>