<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Nota</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @note.titulo %></td>
      <td><%= @note.content %></td>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'note_link_form' %>